<div class="container">
    <div class="filtro">
        <form class="row g-3">
            <div class="col-md-4">
                <input type="text" placeholder="apellidos" class="form-control" id="apellidos" name="apellidos"
                    [(ngModel)]="_apellidos" (change)="busca()">
            </div>
            <div class="col-md-4">
                <input type="text" placeholder="nombres" class="form-control" id="nombres" name="nombres"
                    [(ngModel)]="_nombres" (change)="busca()">
            </div>
            <div class="d-grid gap-2 col-3 mx-auto">
                <button type="button" class="btn btn-outline-success" (click)="busca()">Buscar</button>
            </div>
        </form>
    </div>
    <div class="table-responsive">
        <table class="table border table-dark table-hover table-striped table-fixed">
            <thead>
                <tr>
                    <th>Id</th> <!-- (click)="setOrder('id')"-->
                    <th>Descripcion</th> <!-- (click)="setOrder('nombre')"-->
                    <th>Paciente</th> <!-- (click)="sort()"-->
                    <th>Fecha</th> <!-- (click)="sort()"-->
                    <th>Cod. Envio</th> <!-- (click)="sort()"-->
                    <th></th> <!-- (click)="sort()"-->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let analysis of analysisList">
                    <td>{{analysis.idAnalisis}}</td>
                    <td>{{analysis.catmue.descripcion}}</td>
                    <td>{{analysis.paciente.nombres}} {{analysis.paciente.apellidos}}</td>
                    <td>{{analysis.fecha|date:"dd/MM/yyyy"}}</td>
                    <td>{{analysis.codenv}}</td>
                    <td>
                        @if (isOperation('READ_ONE_ANALYSIS')) {
                        <button class="btn btn-outline-primary"
                            routerLink="/pages/analysis/detail/{{analysis.idAnalisis}}"><i class="far fa-eye"></i>
                            Ver</button>
                        }
                        @if (isOperation('UPDATE_ONE_ANALYSIS')) {
                        <button class="btn btn-outline-warning"
                            [routerLink]="['/pages/analysis/edit', analysis.idAnalisis]"><i class="far fa-edit"></i>
                            Editar</button>
                        <!-- <button class="btn btn-outline-danger" (click)="elimina(ingreso.iding)"><i class="far fa-trash-alt"></i>
                        Eliminar</button> -->
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="d-flex flex-wrap align-items-center justify-content-between">
        <div class="mb-2">
            <button class="btn btn-outline-primary me-2" [disabled]="numberPage === 0"
                (click)="first()">Primero</button>

            <button class="btn btn-outline-primary me-2" [disabled]="numberPage === 0"
                (click)="changePage(numberPage - 1)">Anterior</button>

            <button class="btn btn-outline-primary me-2" [disabled]="numberPage === pages()"
                (click)="changePage(numberPage + 1)">Siguiente</button>

            <button class="btn btn-outline-primary" [disabled]="numberPage === pages()" (click)="last()">Último</button>
        </div>

        <!-- Ir a página -->
        <!-- <div class="input-group mb-2" style="width: 200px;">
          <input type="number" class="form-control" placeholder="Página"
                 [(ngModel)]="paginaIr"
                 [min]="1"
                 [max]="totalPaginas()"
                 (keyup.enter)="irAPagina()">
          <button class="btn btn-primary" (click)="irAPagina()">Ir</button>
        </div> -->
        <div class="input-group mb-2" style="width: 220px;">
            <input type="number" class="form-control" placeholder="Página" [(ngModel)]="_numberPage"
                (ngModelChange)="_validNumberPage()" [ngClass]="{
                'is-valid': _validPage && _numberPage !== null,
                'is-invalid': !_validPage && _numberPage !== null
              }" [min]="0" [max]="pages()" />
            <button class="btn btn-primary" (click)="changePage(_numberPage - 1)" [disabled]="!_validPage">
                Ir
            </button>
        </div>
    </div>
</div>