<nav class="navbar navbar-expand-sm navbar-expand-md navbar-expand-lg bg-light navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand">MEDICOS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">ssss</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="list/" routerLinkActive="active"><i class="far fa-list-alt"></i>Lista</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="new/" routerLinkActive="active"><i class="fas fa-plus-circle"></i> Nueva Registro</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>