<div class="container">
  <div class="filtro">
    <form class="row g-3">
      <!-- <div class="col-md-3">
          <input type="text" placeholder="Tipo" class="form-control" id="tipcom" name="tipcom" [(ngModel)]="_tipcom"
          (change)="busca()">
        </div> -->
      <div class="col-md-4">
        <input type="text" placeholder="rol" class="form-control" id="role" name="sersbp"
          [(ngModel)]="_role" (change)="busca()">
      </div>
      <!-- <div class="col-md-4">
        <input type="text" placeholder="modulo" class="form-control" id="module" name="module"
          [(ngModel)]="_module" (change)="busca()">
      </div> -->
    </form>
  </div>
    <div class="table-responsive">
        <table class="table border table-dark table-hover table-striped table-fixed">
            <thead>
                <tr>
                    <th [width]="50">Id</th> <!-- (click)="setOrder('id')"-->
                    <th [width]="150">Operacion</th> <!-- (click)="setOrder('nombre')"-->
                    <th [width]="150">Metodo</th> <!-- (click)="setOrder('nombre')"-->
                    <th [width]="150">Modulo</th> <!-- (click)="setOrder('nombre')"-->
                    <th [width]="150">Rol</th> <!-- (click)="setOrder('nombre')"-->
                    <th [width]="350"><i class="fas fa-sort"></i></th> <!-- (click)="sort()"-->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let permission of permissions">
                    <td>{{permission.id}}</td>
                    <td>{{permission.operation}}</td>
                    <td>{{permission.httpMethod}}</td>
                    <td>{{permission.module}}</td>
                    <td>{{permission.role}}</td>
                    <td>
                      @if (isOperation("READ_ONE_PERMISSION")) {
                        <button class="btn btn-outline-primary" routerLink="/pages/permission/detail/{{permission.id}}"><i
                                class="far fa-eye"></i> Ver</button>
                      }
                      @if (isOperation("UPDATE_ONE_PERMISSION")) {
                        <button class="btn btn-outline-warning"
                            [routerLink]="['/pages/permission/edit', permission.id]"><i class="far fa-edit"></i>
                            Editar</button>
                        <!-- <button class="btn btn-outline-danger" (click)="elimina(ingreso.iding)"><i class="far fa-trash-alt"></i>
                        Eliminar</button> -->
                      }
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="d-flex flex-wrap align-items-center justify-content-between">
        <div class="mb-2">
          <button class="btn btn-outline-primary me-2"
                  [disabled]="numberPage === 0"
                  (click)="first()">Primero</button>
    
          <button class="btn btn-outline-primary me-2"
                  [disabled]="numberPage === 0"
                  (click)="changePage(numberPage - 1)">Anterior</button>
    
          <button class="btn btn-outline-primary me-2"
                  [disabled]="numberPage === pages()"
                  (click)="changePage(numberPage + 1)">Siguiente</button>
    
          <button class="btn btn-outline-primary"
                  [disabled]="numberPage === pages()"
                  (click)="last()">Último</button>
        </div>
    
        <!-- Ir a página -->
        <!-- <div class="input-group mb-2" style="width: 200px;">
          <input type="number" class="form-control" placeholder="Página"
                 [(ngModel)]="paginaIr"
                 [min]="1"
                 [max]="totalPaginas()"
                 (keyup.enter)="irAPagina()">
          <button class="btn btn-primary" (click)="irAPagina()">Ir</button>
        </div> -->
        <div class="input-group mb-2" style="width: 220px;">
            <input
              type="number"
              class="form-control"
              placeholder="Página"
              [(ngModel)]="_numberPage"
              (ngModelChange)="_validNumberPage()"
              [ngClass]="{
                'is-valid': _validPage && _numberPage !== null,
                'is-invalid': !_validPage && _numberPage !== null
              }"
              [min]="0"
              [max]="pages()"
            />
            <button
              class="btn btn-primary"
              (click)="changePage(_numberPage - 1)"
              [disabled]="!_validPage"
            >
              Ir
            </button>
          </div>
      </div>
</div>