<div class="container">
    <div class="row mt-5">
        <div class="col-10 mx-auto">
            <form [formGroup]="formMaestro" data-bs-theme="dark">
                <div class="text-center mb-3">
                    <h1>{{titulo}}</h1>
                </div>
                <div class="row">
                    <div *ngIf="edicion" class="form-floating mb-3">
                        <input type="text" class="form-control" id="idAnalisis" placeholder="Id"
                            formControlName="idAnalisis" readonly>
                        <label for="idAnalisis" class="form-label">Id</label>
                    </div>
                    <div class="form-floating col-3 mb-3">
                        <input type="date" class="form-control" id="fecha" placeholder="fecha" formControlName="fecha">
                        <label for="descripcion" class="form-label">fecha</label>
                        <div *ngIf="formMaestro.get('fecha')?.invalid && (formMaestro.get('fecha')?.dirty || formMaestro.get('fecha')?.touched)"
                            class="error-message">
                            <small *ngIf="formMaestro.get('fecha')?.errors?.['required']">El medico es
                                obligatorio.</small>
                        </div>
                        <div *ngIf="formMaestro.get('fecha')?.errors?.['pattern']" class="error-message">
                            error de formato
                        </div>
                    </div>
                    <div class="form-floating col-3 mb-3">
                        <input type="text" class="form-control" id="descripcion" placeholder="descripcion"
                            style="text-transform: uppercase;" formControlName="descripcion">
                        <label for="descripcion" class="form-label">descripcion</label>
                        <div *ngIf="formMaestro.get('descripcion')?.invalid && (formMaestro.get('descripcion')?.dirty || formMaestro.get('descripcion')?.touched)"
                            class="error-message">
                            <small *ngIf="formMaestro.get('descripcion')?.errors?.['required']">El medico es
                                obligatorio.</small>
                        </div>
                        <div *ngIf="formMaestro.get('descripcion')?.errors?.['pattern']" class="error-message">
                            error de formato
                        </div>
                    </div>
                    <!-- <div class="col-6"></div> -->
                    <fieldset formGroupName="medico" class="col-6">
                        <div class="form-floating mb-3">
                            <select class="form-select" formControlName="idMedico">
                                <option *ngFor="let t of (medicos$ | async)" [value]="t.idMedico">
                                    {{t.idMedico}} {{t.apellidos}} {{t.nombres}}
                                </option>
                            </select>
                            <label for="idMedico" class="form-label">Medico</label>
                            <div *ngIf="formMaestro.get('medico.idMedico')?.invalid && (formMaestro.get('medico.idMedico')?.dirty || formMaestro.get('medico.idMedico')?.touched)"
                                class="error-message">
                                <small *ngIf="formMaestro.get('medico.idMedico')?.errors?.['required']">El medico es
                                    obligatorio.</small>
                            </div>
                            <div *ngIf="formMaestro.get('medico.idMedico')?.errors?.['pattern']" class="error-message">
                                error de formato
                            </div>
                        </div>
                    </fieldset>
                    <fieldset formGroupName="paciente" class="row">
                        <div class="form-floating col-3 mb-3" hidden>
                            <input type="hidden" class="form-control" id="idPaciente" placeholder="idPaciente"
                                formControlName="idPaciente">
                            <label for="idPaciente" class="form-label">idPaciente</label>
                        </div>
                        <div class="form-floating col-3 mb-3">
                            <input type="text" class="form-control" id="dni" placeholder="dni"
                                style="text-transform: uppercase;" formControlName="dni" (change)="validaPaciente()">
                            <label for="paciente.dni" class="form-label">dni</label>
                            <div *ngIf="formMaestro.get('paciente.dni')?.invalid && (formMaestro.get('paciente.dni')?.dirty || formMaestro.get('paciente.dni')?.touched)"
                                class="error-message">
                                <small *ngIf="formMaestro.get('paciente.dni')?.errors?.['required']">El dni del paciente
                                    es
                                    obligatorio.</small>
                            </div>
                            <div *ngIf="formMaestro.get('paciente.dni')?.errors?.['pattern']" class="error-message">
                                error de formato
                            </div>
                        </div>
                        <div class="form-floating col-6 mb-3">
                            <input type="text" class="form-control" id="apellidos" placeholder="apellidos"
                                style="text-transform: uppercase;" formControlName="apellidos">
                            <label for="paciente.apellidos" class="form-label">apellidos</label>
                            <div *ngIf="formMaestro.get('paciente.apellidos')?.invalid && (formMaestro.get('paciente.apellidos')?.dirty || formMaestro.get('paciente.apellidos')?.touched)"
                                class="error-message">
                                <small *ngIf="formMaestro.get('paciente.apellidos')?.errors?.['required']">El apellido
                                    son
                                    obligatorio.</small>
                            </div>
                            <div *ngIf="formMaestro.get('paciente.apellidos')?.errors?.['pattern']"
                                class="error-message">
                                error de formato
                            </div>
                        </div>
                        <div class="form-floating col-3 mb-3">
                            <input type="text" class="form-control" id="nombres" placeholder="nombres"
                                style="text-transform: uppercase;" formControlName="nombres">
                            <label for="paciente.nombres" class="form-label">nombres</label>
                            <div *ngIf="formMaestro.get('paciente.nombres')?.invalid && (formMaestro.get('paciente.nombres')?.dirty || formMaestro.get('paciente.nombres')?.touched)"
                                class="error-message">
                                <small *ngIf="formMaestro.get('paciente.nombres')?.errors?.['required']">El nombre es
                                    obligatorio.</small>
                            </div>
                            <div *ngIf="formMaestro.get('paciente.nombres')?.errors?.['pattern']" class="error-message">
                                error de formato
                            </div>
                        </div>
                        <div class="form-floating col-6 mb-3">
                            <input type="text" class="form-control" id="direccion" placeholder="direccion"
                                style="text-transform: uppercase;" formControlName="direccion">
                            <label for="paciente.direccion" class="form-label">direccion</label>
                            <div *ngIf="formMaestro.get('paciente.direccion')?.invalid && (formMaestro.get('paciente.direccion')?.dirty || formMaestro.get('paciente.direccion')?.touched)"
                                class="error-message">
                                <small *ngIf="formMaestro.get('paciente.direccion')?.errors?.['required']">El direccion
                                    es
                                    obligatoria.</small>
                            </div>
                            <div *ngIf="formMaestro.get('paciente.direccion')?.errors?.['pattern']"
                                class="error-message">
                                error de formato
                            </div>
                        </div>
                        <div class="form-floating col-3 mb-3">
                            <input type="text" class="form-control" id="telefono" placeholder="telefono"
                                style="text-transform: uppercase;" formControlName="telefono">
                            <label for="paciente.telefono" class="form-label">telefono</label>
                            <div *ngIf="formMaestro.get('paciente.telefono')?.invalid && (formMaestro.get('paciente.telefono')?.dirty || formMaestro.get('paciente.telefono')?.touched)"
                                class="error-message">
                                <small *ngIf="formMaestro.get('paciente.telefono')?.errors?.['required']">El telefono es
                                    obligatorio.</small>
                            </div>
                            <div *ngIf="formMaestro.get('paciente.telefono')?.errors?.['pattern']"
                                class="error-message">
                                error de formato
                            </div>
                        </div>
                        <div class="form-floating col-3 mb-3">
                            <input type="date" class="form-control" id="fecnac" placeholder="fecnac"
                                formControlName="fecnac">
                            <label for="fecnac" class="form-label">fecnac</label>
                            <div *ngIf="formMaestro.get('paciente.fecnac')?.invalid && (formMaestro.get('paciente.fecnac')?.dirty || formMaestro.get('paciente.fecnac')?.touched)"
                                class="error-message">
                                <small *ngIf="formMaestro.get('paciente.fecnac')?.errors?.['required']">El campo fecha
                                    de naciemiento es
                                    obligatorio.</small>
                            </div>
                            <div *ngIf="formMaestro.get('paciente.fecnac')?.errors?.['pattern']" class="error-message">
                                error de formato
                            </div>
                        </div>
                        <div class="form-floating col-3 mb-3">
                            <input type="text" class="form-control" id="edad" placeholder="edad" formControlName="edad">
                            <label for="edad" class="form-label">edad</label>
                            <div *ngIf="formMaestro.get('paciente.edad')?.invalid && (formMaestro.get('paciente.edad')?.dirty || formMaestro.get('paciente.edad')?.touched)"
                                class="error-message">
                                <small *ngIf="formMaestro.get('paciente.edad')?.errors?.['required']">El campo edad es
                                    obligatorio.</small>
                            </div>
                            <div *ngIf="formMaestro.get('paciente.edad')?.errors?.['pattern']" class="error-message">
                                error de formato
                            </div>
                        </div>
                        <!-- <div class="col-6 mb-3"> -->
                            <fieldset class="col-6 mb-3">
                                <legend>Sexo:</legend>
                                <div>
                                    <label>
                                        <input type="radio" name="sexo" formControlName="sexo" value="M">
                                        Masculino
                                    </label>
                                </div>
                                <div>
                                    <label>
                                        <input type="radio" name="sexo" formControlName="sexo" value="F">
                                        Femenino
                                    </label>
                                </div>

                                <div *ngIf="formMaestro.get('paciente.sexo')?.invalid && (formMaestro.get('paciente.sexo')?.dirty || formMaestro.get('paciente.sexo')?.touched)"
                                    class="error-message">
                                    <small *ngIf="formMaestro.get('paciente.sexo')?.errors?.['required']">El campo sexo
                                        es
                                        obligatorio.</small>
                                </div>
                                <div *ngIf="formMaestro.get('paciente.sexo')?.errors?.['pattern']"
                                    class="error-message">
                                    error de formato
                                </div>
                            </fieldset>
                        <!-- </div> -->
                    </fieldset>
                    <div class="form-floating col-3 mb-3">
                        <input type="text" class="form-control" id="codenv" placeholder="cod. envio"
                            formControlName="codenv">
                        <label for="codenv" class="form-label">codenv</label>
                        <div *ngIf="formMaestro.get('codenv')?.invalid && (formMaestro.get('codenv')?.dirty || formMaestro.get('codenv')?.touched)"
                            class="error-message">
                            <small *ngIf="formMaestro.get('codenv')?.errors?.['required']">El codigo es
                                obligatorio.</small>
                        </div>
                        <div *ngIf="formMaestro.get('codenv')?.errors?.['pattern']" class="error-message">
                            error de formato
                        </div>
                    </div>
                    <div class="form-floating col-3 mb-3">
                        <input type="text" class="form-control" id="compag" placeholder="compag"
                            formControlName="compag">
                        <label for="compag" class="form-label">compag</label>
                        <div *ngIf="formMaestro.get('compag')?.invalid && (formMaestro.get('compag')?.dirty || formMaestro.get('compag')?.touched)"
                            class="error-message">
                            <small *ngIf="formMaestro.get('compag')?.errors?.['required']">El codigo es
                                obligatorio.</small>
                        </div>
                        <div *ngIf="formMaestro.get('compag')?.errors?.['pattern']" class="error-message">
                            error de formato
                        </div>
                    </div>
                    <div class="form-floating col-3 mb-3">
                        <input type="text" class="form-control" id="monto" placeholder="cod. envio"
                            formControlName="monto">
                        <label for="monto" class="form-label">monto</label>
                        <div *ngIf="formMaestro.get('monto')?.invalid && (formMaestro.get('monto')?.dirty || formMaestro.get('monto')?.touched)"
                            class="error-message">
                            <small *ngIf="formMaestro.get('monto')?.errors?.['required']">El codigo es
                                obligatorio.</small>
                        </div>
                        <div *ngIf="formMaestro.get('monto')?.errors?.['pattern']" class="error-message">
                            error de formato
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- <mat-card appearance="outlined">
    <mat-card-content>
        <mat-form-field class="formulario-field">
            <mat-label>Analisis</mat-label>
            <mat-select placeholder="Seleccionar" [(value)]="idCatmue" (selectionChange)="escogeCatalogo($event)">
                <mat-option *ngFor="let e of (catanas$ | async)" [value]="e.idCatana">
                    {{ e.descripcion }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="formulario-field">
            <mat-label>Observaciones</mat-label>
            <input matInput placeholder="Observaciones" style="text-transform: uppercase;" [(ngModel)]="observ"
                maxlength="100">
        </mat-form-field>
    </mat-card-content>

    <mat-table [dataSource]="detiteana">
        <ng-container matColumnDef="examen.item" class="cssItem">
            <mat-header-cell *matHeaderCellDef> Item </mat-header-cell>
            <mat-cell *matCellDef="let rowItem"> {{rowItem.examen.item}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="examen.medico.descripcion">
            <mat-header-cell *matHeaderCellDef> Tipo </mat-header-cell>
            <mat-cell *matCellDef="let rowItem">{{rowItem.examen.tipo.idTipo}} - {{rowItem.examen.tipo.descripcion}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="examen.descripcion">
            <mat-header-cell *matHeaderCellDef> Examen </mat-header-cell>
            <mat-cell *matCellDef="let rowItem"> {{rowItem.examen.descripcion}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="resultado">
            <mat-header-cell *matHeaderCellDef> Resultado </mat-header-cell>
            <mat-cell *matCellDef="let rowItem">
                <mat-form-field class="example-full-width">
                    <input matInput [(ngModel)]="rowItem.resultado" maxlength="50" (ngModelChange)="calculaFormula()"
                        pattern="[a-zA-Z0-9 ]{0,50}">
                </mat-form-field>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="examen.valref">
            <mat-header-cell *matHeaderCellDef> Val. Referencia </mat-header-cell>
            <mat-cell *matCellDef="let rowItem"> {{rowItem.examen.valref}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="examen.unidad">
            <mat-header-cell *matHeaderCellDef> Unidad </mat-header-cell>
            <mat-cell *matCellDef="let rowItem"> {{rowItem.examen.unidad}} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let rowItem; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="aceptar()" [disabled]="estadoBotonRegistrar()">
            <mat-icon>done</mat-icon>
            <span>{{btnAceptar}}</span>
        </button>
        <button mat-raised-button color="accent" routerLink='/pages/analisis' type="button">
            <mat-icon>close</mat-icon>
            <span>Cancelar</span>
        </button>
    </mat-card-actions>

</mat-card> -->